* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

#head {
    animation: head-tilt 6.5s infinite ease-in-out alternate;
    transform-origin: center;
}


#arm {
    animation: arm-movement 6s infinite ease-in-out alternate;
    transform-origin: right;
    transform-box: fill-box;

}

#mug {
    animation: mug-movement 6s infinite ease-in-out alternate;
    transform-origin: bottom;


}

#line-1 {
    opacity: 0;

    animation: text-pop 1s infinite;
    transform-origin: left;
    transform-box: fill-box;

    animation: opacityOn 15s infinite;
}

#line-2{
    opacity: 0;
    
    animation: text-pop 1s infinite;
    animation-delay: 1s;
    transform-origin: left;
    transform-box: fill-box;

    animation: opacityOn 15s infinite;
    animation-delay: 1s;
}

#line-3 {
    opacity: 0;

    animation: text-pop 1s infinite;
    animation-delay: 2s;
    transform-origin: left;
    transform-box: fill-box;

    animation: opacityOn 15s infinite;
    animation-delay: 2s;
}

#line-4 {
    opacity: 0;

    animation: text-pop 1s infinite;
    animation-delay: 3s;
    transform-origin: left;
    transform-box: fill-box;

    animation: opacityOn 15s infinite;
    animation-delay: 3s;
}

#line-5 {
    opacity: 0;

    animation: text-pop 1s infinite;
    animation-delay: 4s;
    transform-origin: left;
    transform-box: fill-box;

    animation: opacityOn 15s infinite;
    animation-delay: 4s;
}

#line-6 {
    opacity: 0;

    animation: text-pop 1s infinite;
    animation-delay: 5s;
    transform-origin: left;
    transform-box: fill-box;

    animation: opacityOn 15s infinite;
    animation-delay: 5s;
}

#line-7 {
    opacity: 0;

    animation: text-pop 1s infinite;
    animation-delay: 6s;
    transform-origin: left;
    transform-box: fill-box;

    animation: opacityOn 15s infinite;
    animation-delay: 6s;
}

#line-8 {
    opacity: 0;

    animation: text-pop 1s infinite;
    animation-delay: 7s; 
    transform-origin: left;
    transform-box: fill-box;

    animation: opacityOn 15s infinite;
    animation-delay: 7s;
}


@keyframes head-tilt {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(20deg);
    }
}

@keyframes arm-movement {
    from{

        transform: rotateZ(-16deg);
    }
    to{

        transform: rotateZ(43deg);
    }
    
}
@keyframes mug-movement {
    from{

        transform: rotateZ(-8deg);
    }
    to{

        transform: rotateZ(24deg);
    }
    
}

@keyframes text-pop {
    0%{
        transform: rotateY(-90deg);
    }
    30%{
        transform: rotateY(0deg);
        animation-delay: 1s;

    }
    
}

@keyframes opacityOn {
    0% {
        opacity: 0;
    }
    16% {
        opacity: 0;
    }
    43% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    80%{
        opacity: 0;
    }

    
}
